<!DOCTYPE html>
<html>
<head>
    <title>Video Creator</title>
    
</head>
<body>
    <h1>Video Creator</h1>    
    <form method="post" action="{% url 'app:index' %}">
        {% csrf_token %}
        <label for="text">Текст:</label>
        <input type="text" id="text" name="text" maxlength="50" required>
        <br>
        <label for="text_color">Цвет текста:</label>
        <input type="color" id="text_color" name="text_color" value="#000000" required>
        <br>
        <label for="bg_color">Цвет фона:</label>
        <input type="color" id="bg_color" name="bg_color" value="#FFFFFF" required>
        <br>
        <input type="submit" value="Создать видео">
      </form>    
</body>
</html>


  